
    

.sigin{
    color:black;
    border: 1px solid black;
    height: 32rem;
     width: 20rem;
     margin: auto;
     width: 25%;
     padding: 2rem;
     margin-top: 48px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 
 }
 
 .continue{
     margin-top: 15px;
     
 }
 
 .create-signUp{
     margin-top: 2px;
     margin-left: 5rem;
     
 }
 
 .signin-head{
     font-size: 37px;
     font-weight: 500;
     
     color: #e40c52;
      
 }
 
 .input-signin{
     width: 14rem;
     margin-top: 7px;
 }
 
 .info{
     margin-top: 20px;
     margin-left: 12px
 }
 
 .new{
     margin-left:5rem;
 }