<!-- <p>sign-up works!</p> -->
<div class="sigin">
    <h3 class="signin-head">Sign Up</h3>
    <div>
        <label for="name">Your name</label>
        <input type="text" class="input-signin" id="name">
    </div>

    <div>
        <label for="name">Mobile number</label>
        <input type="text" class="input-signin" id="name">
    </div>

    <div>
        <label for="name">Email</label>
        <input type="text" class="input-signin" id="name">
    </div>

    <div>
        <label for="name">Password</label>
        <input type="text" class="input-signin" id="name">
    </div>
    
  
    <div class="info">
      <h5>By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</h5>
      <h5 class="new">New to app</h5>
    </div>
   
    <div class="create-signUp">
      <button type="button" class="btn btn-outline-danger" (click)="SignUP()">SignUP</button>
    
    </div>
  </div>