<!-- <p>sign-in works!</p> -->
<div class="sigin">
  <h3 class="signin-head">Sign In</h3>
  
  <label>Email Or mobile phone number</label>
  <input type="text" class="input-signin">
  <div class="continue">
    <button type="button" class="btn btn-outline-danger">Continue</button>
   
  </div>
  <div class="info">
    <h5>By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</h5>
    <h5 class="new">New to app</h5>
  </div>
 
  <div class="create-signUp">
    <button type="button" class="btn btn-outline-danger" (click)="signUp()">Create new app account</button>
  
  </div>
</div>
